# IntelliJ / Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# OS / Build fajlovi
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Lokalne konfiguracije
local.properties

# Ignoriši tajne fajlove
app/src/main/res/xml/secrets.xml
app/google-services.json
